{% include base_path %}
{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}
 
{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
<h2 class="archive__item-title" itemprop="headline" style="font-size: 1em; margin-bottom: 0; margin-top: 0; font-weight: normal; color: #006400;">
  {% if post.category == 'jobs' and post.paperurl %}
    <a href="{{ post.paperurl }}" target="_blank" style="color: #006400; font-weight: normal;">{{ title }}</a>
  {% else %}
    {{ title }}
  {% endif %}
</h2>
{% if post.subheading %}
<p class="subheading" style="font-size: 1em; font-weight: bold; color: #333; margin-top: 0; margin-bottom: 0;">
  <span>{{ post.subheading }}</span>
</p>
{% endif %}
    
{% if post.collection == 'publications' and post.category == 'jobs' %}
  <p style="font-size: 1em; color: #333; margin-top: 0; margin-bottom: 0;">{{ post.description }}</p>
{% else %}
<p class="presentation-info" style="margin-top: 0;">
{{ post.coauthor }}
</p>
<p class="presentation-info" style="margin-top: 0;">
{{ post.description }}
</p>
  <p class="presentation2-info">{{ post.description2 }}</p>
  <p class="download-info">{{ post.infodownload }}</p>
{% endif %}
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
{% if post.collection == 'teaching' %}
  {% if post.type or post.venue %}
  <p>
    {% if post.type %}{{ post.type }}{% endif %}
    {% if post.type and post.venue %}, {% endif %}
    {% if post.venue %}<i>{{ post.venue }}</i>{% endif %}
  </p>
  {% endif %}
{% elsif post.collection == 'publications' %}
{% endif %}
    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl and post.slidesurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a></p>
    {% elsif post.citation and post.slidesurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% endif %}
  </article>
</div>
